In [30]:
s= "ineuron"
v= "AaEeIiOoUu"

In [50]:

for i in s:
    if i in v:
        print(i, "is vowel")
    else:
        print(i, "is not a vowel")

i is vowel
n is not a vowel
e is vowel
u is vowel
r is not a vowel
o is vowel
n is not a vowel

In [51]:
x= input("enter a word to check its phylindrom: ")
y=x[::-1]
print(y)
if x==y:
    print(x, 'is a phylindrome')
else:
    print(x, 'is not')

enter a word to check its phylindrom: eye
eye
eye is a phylindrome

In [88]:
x= input()
for i in range(len(x)):
    if x[i] != x[len(x)-i-1]:
        print('not')
        break
else:
    print('is palindrome')

eyee
not

In [1]:
def lenght(x):
    a=0
    for i in x:
       a+=1
    return a

In [2]:
lenght("meena")

5

In [16]:
def ind(*args):
    b=[]
    for x,y in enumerate(*args):
       b +=x,y 
    return b

In [17]:
ind([45,1.23,"meena", True])

[0, 45, 1, 1.23, 2, 'meena', 3, True]

In [19]:
def test(*args):
    return args

In [20]:
test(45,2,6,8,9,6)

(45, 2, 6, 8, 9, 6)

#### MULTIPLE VALUES AT A TIME (UNSURE of input value count)

In [38]:
def me(*args):
    x=[]
    for i in args:
        if type(i) == list:
            x.append(i)
    return x

In [39]:
me([1,2,5,6,8],'meena', 45,8.2,(45,3,6,9,4),
   ['jfhf','fhfg',45,2,5,6] )

[[1, 2, 5, 6, 8], ['jfhf', 'fhfg', 45, 2, 5, 6]]

####   KEYWORD VALUE PAIR IN FUNCTION IS THROUGH **KWARGS

In [40]:
def test1(**kwargs):
    return kwargs

In [43]:
test1(a=45,b=[123,45,6,7,9,5])

{'a': 45, 'b': [123, 45, 6, 7, 9, 5]}

In [47]:
test1(a =[45698,2,5,6,5,4])

{'a': [45698, 2, 5, 6, 5, 4]}

In [48]:
def test2(**meena):
    return meena

In [50]:
test2(name = 'meena', age=25, phonenumber = 475698213, id= '1khjen2563')

{'name': 'meena', 'age': 25, 'phonenumber': 475698213, 'id': '1khjen2563'}

In [52]:
def test3(a,*args, **kwargs):
    return a,args,kwargs

In [53]:
test3(45,4856,9,8,6,5,7,8,9,5,c=54679,d=2689,e=[1,2,5,6,8,9])

(45,
 (4856, 9, 8, 6, 5, 7, 8, 9, 5),
 {'c': 54679, 'd': 2689, 'e': [1, 2, 5, 6, 8, 9]})

### FUNCTION WITHOUT NAME IS LAMBDA FUNCTION

In [56]:
x=lambda a,b :a*b

In [57]:
x(45,12)

540

In [58]:
y= lambda *me:me

In [59]:
y('xgfbs',45,26)

('xgfbs', 45, 26)

In [62]:
z=lambda j: [print (i) for i in j]

In [63]:
z("meena")

m
e
e
n
a

[None, None, None, None, None]

In [64]:
l=[4,5,6,8,9,5,6,3,2,6,5,4]
x=[]
for i in l:
    i+=2
    x.append (i)

In [65]:
x

[6, 7, 8, 10, 11, 7, 8, 5, 4, 8, 7, 6]

In [68]:
j= lambda x:[i+2 for i in x]

In [69]:
j(l)

[6, 7, 8, 10, 11, 7, 8, 5, 4, 8, 7, 6]

In [70]:
[i+2 for i in l]       # list comprehension [result we want then code]

[6, 7, 8, 10, 11, 7, 8, 5, 4, 8, 7, 6]

In [71]:
l

[4, 5, 6, 8, 9, 5, 6, 3, 2, 6, 5, 4]

In [74]:
[(i*2,i+2) for i in l if i<4]

[(6, 5), (4, 4)]